.educatius {
  --educatius-teal-25: oklch(95.8% 0.013 196.9);
  --educatius-teal-50: oklch(90.7% 0.052 190.3);
  --educatius-teal-100: oklch(86.2% 0.088 187.6);
  --educatius-teal-200: oklch(82.2% 0.116 186.1);
  --educatius-teal-300: oklch(78.8% 0.132 184.3);
  --educatius-teal-400: oklch(70% 0.12 186.4);
  --educatius-teal-500: oklch(60.7% 0.105 189);
  --educatius-teal-600: oklch(53.8% 0.093 189.9);
  --educatius-teal-700: oklch(46.8% 0.08 192.5);
  --educatius-teal-800: oklch(39.4% 0.067 194.8);
  --educatius-teal-900: oklch(33.2% 0.054 200.4);
  --educatius-teal-950: oklch(26.7% 0.041 211);
  --educatius-purple-25: oklch(93.2% 0.023 305.6);
  --educatius-purple-50: oklch(88.8% 0.033 297.2);
  --educatius-purple-100: oklch(83.3% 0.055 299.3);
  --educatius-purple-200: oklch(77.5% 0.079 299.5);
  --educatius-purple-300: oklch(71.9% 0.103 298.9);
  --educatius-purple-400: oklch(52.1% 0.17 299.4);
  --educatius-purple-500: oklch(35.5% 0.2 290.7);
  --educatius-purple-600: oklch(33.4% 0.181 292.9);
  --educatius-purple-700: oklch(31.2% 0.161 294.8);
  --educatius-purple-800: oklch(29.6% 0.138 297.2);
  --educatius-purple-900: oklch(27.9% 0.111 299.5);
  --educatius-purple-950: oklch(26.8% 0.079 302.9);
  --educatius-orange-25: oklch(96.9% 0.027 78.2);
  --educatius-orange-50: oklch(89.3% 0.115 84.9);
  --educatius-orange-100: oklch(82.8% 0.167 79.6);
  --educatius-orange-200: oklch(77.9% 0.171 66);
  --educatius-orange-300: oklch(73.5% 0.185 53.8);
  --educatius-orange-400: oklch(70% 0.202 44.4);
  --educatius-orange-500: oklch(66.9% 0.22 37.7);
  --educatius-orange-600: oklch(59.8% 0.195 38.1);
  --educatius-orange-700: oklch(52.5% 0.169 38.8);
  --educatius-orange-800: oklch(44.6% 0.142 39.4);
  --educatius-orange-900: oklch(36.6% 0.113 40.9);
  --educatius-orange-950: oklch(28.3% 0.082 44);
  --educatius-burgundy-25: oklch(93.9% 0.01 2);
  --educatius-burgundy-50: oklch(88.1% 0.032 37.1);
  --educatius-burgundy-100: oklch(82.3% 0.057 43.4);
  --educatius-burgundy-200: oklch(68.2% 0.091 20.5);
  --educatius-burgundy-300: oklch(54.7% 0.134 13);
  --educatius-burgundy-400: oklch(45.3% 0.119 10.6);
  --educatius-burgundy-500: oklch(35.2% 0.104 6.5);
  --educatius-burgundy-600: oklch(32.8% 0.096 6.3);
  --educatius-burgundy-700: oklch(30.4% 0.088 6);
  --educatius-burgundy-800: oklch(28.1% 0.077 6.3);
  --educatius-burgundy-900: oklch(25.6% 0.068 6);
  --educatius-burgundy-950: oklch(23.1% 0.059 5.7);
}