.greenheart {
    --greenheart-aloe-25: oklch(94.9% 0.036 125.8);
    --greenheart-aloe-50: oklch(91.5% 0.062 126.6);
    --greenheart-aloe-100: oklch(88.4% 0.087 127.2);
    --greenheart-aloe-200: oklch(85% 0.111 127.8);
    --greenheart-aloe-300: oklch(81.7% 0.135 128.5);
    --greenheart-aloe-400: oklch(78.8% 0.156 129.3);
    --greenheart-aloe-500: oklch(75.7% 0.174 130.2);
    --greenheart-aloe-600: oklch(66.4% 0.151 130);
    --greenheart-aloe-700: oklch(53.8% 0.119 129.6);
    --greenheart-aloe-800: oklch(47.1% 0.103 129.5);
    --greenheart-aloe-900: oklch(36.8% 0.078 129.2);
    --greenheart-aloe-950: oklch(25.5% 0.048 127.9);
    --greenheart-poppy-25: oklch(93.1% 0.036 11.4);
    --greenheart-poppy-50: oklch(88.7% 0.06 13.3);
    --greenheart-poppy-100: oklch(84.4% 0.087 13.7);
    --greenheart-poppy-200: oklch(80.3% 0.113 15.1);
    --greenheart-poppy-300: oklch(76.5% 0.14 16.6);
    --greenheart-poppy-400: oklch(73% 0.167 17.7);
    --greenheart-poppy-500: oklch(72.3% 0.172 20.7);
    --greenheart-poppy-600: oklch(61.4% 0.167 19.1);
    --greenheart-poppy-700: oklch(52.7% 0.14 18.9);
    --greenheart-poppy-800: oklch(43.7% 0.114 18.9);
    --greenheart-poppy-900: oklch(34.1% 0.084 18.4);
    --greenheart-poppy-950: oklch(23.7% 0.052 16.1);
    --greenheart-lavender-25: oklch(91.7% 0.027 290.5);
    --greenheart-lavender-50: oklch(86.3% 0.046 292.4);
    --greenheart-lavender-100: oklch(80.7% 0.066 291.7);
    --greenheart-lavender-200: oklch(75.2% 0.086 291.8);
    --greenheart-lavender-300: oklch(69.5% 0.106 290.9);
    --greenheart-lavender-400: oklch(64% 0.128 290.2);
    --greenheart-lavender-500: oklch(65% 0.101 285.3);
    --greenheart-lavender-600: oklch(51.4% 0.129 288.7);
    --greenheart-lavender-700: oklch(44.3% 0.109 288.6);
    --greenheart-lavender-800: oklch(37.2% 0.087 288.5);
    --greenheart-lavender-900: oklch(29.3% 0.064 288.1);
    --greenheart-lavender-950: oklch(20.9% 0.039 287.1);
    --greenheart-sky-blue-25: oklch(96.4% 0.02 216.2);
    --greenheart-sky-blue-50: oklch(91.1% 0.048 218.1);
    --greenheart-sky-blue-100: oklch(86% 0.075 220.1);
    --greenheart-sky-blue-200: oklch(81.1% 0.098 221.2);
    --greenheart-sky-blue-300: oklch(76.6% 0.118 222.8);
    --greenheart-sky-blue-400: oklch(72.5% 0.131 226.3);
    --greenheart-sky-blue-500: oklch(68.9% 0.138 230.6);
    --greenheart-sky-blue-600: oklch(60.6% 0.121 230.1);
    --greenheart-sky-blue-700: oklch(52% 0.103 229.4);
    --greenheart-sky-blue-800: oklch(43.1% 0.085 229.2);
    --greenheart-sky-blue-900: oklch(33.6% 0.065 227.5);
    --greenheart-sky-blue-950: oklch(23.4% 0.044 223.8);
    --greenheart-citrine-25: oklch(97.8% 0.043 98.6);
    --greenheart-citrine-50: oklch(96.1% 0.082 99.5);
    --greenheart-citrine-100: oklch(94.5% 0.117 99.9);
    --greenheart-citrine-200: oklch(93% 0.147 99.9);
    --greenheart-citrine-300: oklch(91.6% 0.169 99.9);
    --greenheart-citrine-400: oklch(90.4% 0.181 99);
    --greenheart-citrine-500: oklch(89.4% 0.184 97.4);
    --greenheart-citrine-600: oklch(79.8% 0.165 97.1);
    --greenheart-citrine-700: oklch(70% 0.145 97.8);
    --greenheart-citrine-800: oklch(59.8% 0.123 97.5);
    --greenheart-citrine-900: oklch(49.2% 0.102 98.7);
    --greenheart-citrine-950: oklch(37.9% 0.078 98.5);
    --greenheart-pine-25: oklch(92.5% 0.026 161.9);
    --greenheart-pine-50: oklch(85.8% 0.05 161.6);
    --greenheart-pine-100: oklch(78.8% 0.074 160.3);
    --greenheart-pine-200: oklch(72.2% 0.097 159.1);
    --greenheart-pine-300: oklch(65.7% 0.119 157.2);
    --greenheart-pine-400: oklch(59.3% 0.135 154.3);
    --greenheart-pine-500: oklch(53.6% 0.146 150.6);
    --greenheart-pine-600: oklch(48% 0.13 150.2);
    --greenheart-pine-700: oklch(42.6% 0.114 149.3);
    --greenheart-pine-800: oklch(36.8% 0.094 147.9);
    --greenheart-pine-900: oklch(31.2% 0.074 143.6);
    --greenheart-pine-950: oklch(25.5% 0.048 127.9);
    --greenheart-mountain-25: oklch(98.8% 0 NaN);
    --greenheart-mountain-50: oklch(96.4% 0 NaN);
    --greenheart-mountain-100: oklch(91% 0.001 286.4);
    --greenheart-mountain-200: oklch(87.2% 0.001 197.1);
    --greenheart-mountain-300: oklch(75.1% 0.001 286.4);
    --greenheart-mountain-400: oklch(62.6% 0.002 247.9);
    --greenheart-mountain-500: oklch(53.8% 0.003 264.5);
    --greenheart-mountain-600: oklch(48.5% 0.002 247.9);
    --greenheart-mountain-700: oklch(42.8% 0.002 286.3);
    --greenheart-mountain-800: oklch(37.1% 0.002 247.9);
    --greenheart-mountain-900: oklch(31% 0.002 286.3);
    --greenheart-mountain-950: oklch(24.8% 0 NaN);
    --greenheart-marigold-25: oklch(98.3% 0.018 86.1);
    --greenheart-marigold-50: oklch(96.1% 0.046 87.8);
    --greenheart-marigold-100: oklch(93.9% 0.072 88.1);
    --greenheart-marigold-200: oklch(91.9% 0.096 87.8);
    --greenheart-marigold-300: oklch(89.7% 0.118 86.8);
    --greenheart-marigold-400: oklch(87.8% 0.138 86.2);
    --greenheart-marigold-500: oklch(86% 0.154 85);
    --greenheart-marigold-600: oklch(76.8% 0.137 85.3);
    --greenheart-marigold-700: oklch(67.4% 0.119 84.9);
    --greenheart-marigold-800: oklch(57.6% 0.1 85.3);
    --greenheart-marigold-900: oklch(47.4% 0.081 84.7);
    --greenheart-marigold-950: oklch(36.6% 0.06 85.3);
    --greenheart-azure-25: oklch(97.8% 0.011 211);
    --greenheart-azure-50: oklch(94.6% 0.028 207.8);
    --greenheart-azure-100: oklch(91.8% 0.044 205.3);
    --greenheart-azure-200: oklch(88.8% 0.06 206.7);
    --greenheart-azure-300: oklch(85.9% 0.074 206.6);
    --greenheart-azure-400: oklch(83.3% 0.088 205.7);
    --greenheart-azure-500: oklch(80.6% 0.099 206);
    --greenheart-azure-600: oklch(72.1% 0.089 205.8);
    --greenheart-azure-700: oklch(63.2% 0.076 206.7);
    --greenheart-azure-800: oklch(54.1% 0.065 205.1);
    --greenheart-azure-900: oklch(44.5% 0.051 206.5);
    --greenheart-azure-950: oklch(34.5% 0.038 206);
}